img
{
    margin-left: 490px;
    margin-right: 400px;
}

h4
{
    font-size: 25px;
    margin-left: 600px;
}

h1
{
    font-size: 60px;
    margin-left: 490px;
    margin-right: 10px;
}

button
{
    font-size: 30px;
    margin-left: 650px;
}